<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <h3>Probando Notificaciones</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatibus quae quis, quibusdam blanditiis omnis corporis assumenda nisi maiores voluptatum at aliquam, molestias sint natus recusandae animi ab provident expedita.</p>
  </div>
</ion-content>
